body {

    margin: auto;
}

a {
    text-decoration: inherit;
    color: inherit;
}

* {
    font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

p {
    font-size: 16px;
    font-weight: 500;
}

/****************header*****************/
.header {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    position: relative;

}

.logo {
    height: 44px;
    width: 162px;
    object-fit: contain;
}

#left-arrow {
    position: absolute;
    top: 50%;
    left: 5%;
    height: 16px;
    width: 17.2px;

}

/************************image restaurant***************************************/
.image-restaurant {


    width: 100%;
    height: 275px;
    object-fit: cover;

    box-sizing: border-box;
}

/*************************container**********************************/
.main-container {

    position: relative;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -50px;

    background-color: #f7f7f7;
    box-sizing: border-box;
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.restaurant-name {

    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restaurant-name h1 {
    margin-top: 35px;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Shrikhand', cursive;
    font-style: italic;
}

.restaurant-name .fa-heart {
    position: absolute;
    top: 45px;
    font-size: 22px;


}

.restaurant-name .fa-solid {
    transition-duration: 400ms;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
    opacity: 0;
}

.restaurant-name .fa-solid:hover {
    opacity: 1;
}



.type-met h2 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    position: relative;
    height: 27px;
    margin-top: 0;
    padding-bottom: 14px;



}

.type-met h2::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 12px;
    border: 3px solid #99e2d0;
    width: 40px;
}

/*********************************************************/
.group-card {

    display: flex;
    flex-direction: column;
    gap: 12px;
}


.card {

    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;


}






/******************rotation icone**********************/
.hidden-item img {
    color: aliceblue;


}

.card:hover .hidden-item img {
    animation-name: rotate;
    animation-duration: 600ms;
}

@keyframes rotate {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/*********************************déroulement check vers la droite********************/


#entrees {
    animation-name: affichage;
    animation-duration: 2s;

}

@keyframes affichage {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

#plats {
    animation-name: affichage;
    animation: affichage 2s ease-in-out both;
    animation-delay: 1s;
}

#desserts {
    animation-name: affichage;
    animation: affichage 2s ease-in-out both;
    animation-delay: 2s;

}

/*******************************************/
.description {
    overflow: hidden;
    margin:12px 15px 12px 15px;
}

.description-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.description-title h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    margin-bottom: 5px;
}

.description-title h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15.04px;
    font-weight: 300;
}

.price {

    margin-top: 40px;
    margin-left: auto;
    padding-right:15px;
    font-weight: bold;
    flex-shrink: 0;

}

.card:hover .hidden-item {

    margin-right: 0px;
    transition-duration: 400ms;

}

.hidden-item {
    margin-right: -59px;
    flex-shrink: 0;
    width: 59px;
    overflow: hidden;
    margin-top: -12px;
    margin-bottom: -12px;
    background-color: #99e2d0;
    display: flex;
    justify-content: center;
    align-items: center;

}




/*************************************************************/
.button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.commander-button {
    width: 218px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: #ffffff;
    text-decoration: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 500;
}

.commander-button:hover {

    opacity: 0.8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
    transform: scale(1.1);
    transition-duration: 400ms;
}

.commander-button:not(:hover) {
    opacity: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
    transform: scale(1);
    transition-duration: 400ms;
}


/***********
/***********Footer****************/
.footer {
    background-color: #353535;
    height: 186px;
    display: flex;
    flex-direction: column;
    padding: 22px 25px;
    gap: 16px;
    color: #ffffff;
    position: relative;

}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    gap: 16px;

}

.footer img {
    width: 137.58px;
    height: 27px;

}

.footer-subtitle {
    height: 19px;
    display: flex;
    align-items: center;
    gap: 16px;

    font-size: 16px;
    font-weight: 500;
}

/*****************************************************/
/****************************************************/

@media (min-width:768px) {

    /****************header*****************/
    .header {
        height: 96.34px;
    }

    .logo {
        height: 34.2px;

    }

    /*************************container**********************************/
    .main-container {
        margin-right: 192px;
        margin-left: 193px;
    }

    .restaurant-name {
        display: flex;
        justify-content: center;
    }

    .restaurant-name h1 {

        padding-right: 24px;
    }

    /*********************************************************/
    /***********Footer****************/
    .footer {
        background-color: #353535;
        height: 114px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-end;

        padding: 22px 25px;
        gap: 16px;
        color: #ffffff;

    }

    .links {
        display: flex;
        flex-direction: row;
    }

    /***************************************************/
    /**************************************************/
}